body {
    width: 100%;
}

.text {
    max-width: 60%;
    margin: 1rem 6rem;
    background-color: white;
}

.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-direction-column {
    flex-direction: column;
}

.text-box {
    flex-wrap: nowrap;
}

.center-items {
    justify-content: center;
    align-items: center;
}

.flex-item-four {
    flex-basis: 25%;
}

.flex-item-two {
    flex-basis: 50%;
}

.flex-item-one {
    flex-basis: 100%;
}

.text-align-center {
    text-align: center;
}

.white-bg {
    background-color: white;
}

.admin-switch {
    background-color: rgb(173, 173, 173);
    border-radius: 100rem;
}

@media (max-width: 1600px) {
    .text-box {
        flex-wrap: wrap;
    }
}

@media (max-width: 960px) {
    .text {
        flex-basis: auto;
        max-width: 100%;
        width: 100%;
        margin: 1rem 0;
    }
}
