.product-browse-img {
    margin: 0.5rem;
    width: 15rem;
    min-height: 5rem;
    max-height: 40rem;
}

.main-content {
    width: 70%;
}

.product-margin {
    margin: 2rem;
}

.center-non-flex {
    margin: auto;
}

@media (max-width: 360px) {
    .main-content {
        width: 100%;
    }
}
